= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titre
    = f.text_field :titre
  .field
    = f.label :user_id
    = f.select("user_id", User.all.collect {|p| [ p.name, p.id ] })
  .field
    = f.label :header
    = f.text_field :header
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :publishDate
    = f.text_field :publishDate
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit 'Save'
