= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Titre de l'article"
    %p
      = f.text_field :titre
  -# .field
  -#   = f.label :user_id
  -#   = f.select("user_id", User.all.collect {|p| [ p.name, p.id ] })
  .field
    = f.label "En tête de l'article ( Make it catchy !)"
    %p
      = f.text_field :header
  .field
    = f.label :postImage
    %p
      = f.file_field :postImage
  -# .field
  -#   = f.label :publishDate
  -#   %p
  -#     = f.text_field :publishDate ,'test'
  .field
    = f.label :content
    %p
      = f.text_area :content
  .actions
    = f.submit 'Save'
