# encoding: utf-8
%html
  %head
    %title= yield(:title)
    = yield(:head)
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    %header.navbar.navbar-default.navbar-fixed-top{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Home
        %nav.collapse.navbar-collapse{:role => "navigation"}
          %ul.nav.navbar-nav
            %li
              = link_to "Les Posts",  posts_path
            %li
              = link_to "Les membres",  users_path
            -if current_user.present?
              %li
                = link_to "Se déconnecter (#{current_user.name})", destroy_user_session_path, method: "delete"
            -else
              %li
                = link_to "Se connecter (Personne n'est connecté)", new_user_session_path

          -# %ul.nav.navbar-right.navbar-nav
          -#   %li.dropdown.open
          -#     %a.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#"}
          -#       %i.glyphicon.glyphicon-search
          -#     %ul.dropdown-menu{:style => "padding:12px;"}
          -#       %form.form-inline
          -#         .input-group
          -#           %input.form-control{:placeholder => "Search for...", :type => "text"}/
          -#           %span.input-group-btn
          -#             %button.btn.btn-default{:type => "button"} Go!

    #masthead
      .container
        .row
          .col-md-7
            %h1
              Rabraud's Blog
            %p.lead A RubyOnRails Powerred Blog for our LPDAWIN classes !
          .col-md-5
            .well.well-lg
              .row
                .col-sm-12.text-center
                  =image_tag("logo.png")



  %div.container
    = yield
